bcrypt==4.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
docutils==0.22
et_xmlfile==2.0.0
idna==3.10
Kivy==2.3.0
Kivy-Garden==0.1.5
numpy==2.3.2
openpyxl==3.1.5
pandas==2.3.2
pillow==11.3.0
pip==25.2
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.3
requests==2.32.5
setuptools==80.9.0
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
